.scrollBox{
    width: auto;
    /* height: 100%; */
    /* left: 0; */
    /* top:0; */
    /* display: flex;
    flex-direction: column; */
    padding: 0 3px 0 0;

}

.scrollBox-inner{
    max-height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 0 10px 0;
    /* box-shadow: 50px 50px rgb(0, 0, 0);  */
}



.scrollBox-inner::-webkit-scrollbar{
    width: 3.8px;
}

.scrollBox-inner::-webkit-scrollbar-thumb{
    background: rgba(243, 243, 243, 0.841);
    border-radius: 5px;

}

.scrollBox-inner::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 246, 246);
    cursor: pointer;

}

